<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="flex align-center">
    <ion-button slot="start" fill="clear" (click)="handleBackButton('/tabs/tab1')">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<div class="bg-primary color-white">
  <div class="pd-16">
    <div>Tentang App</div>
  </div>
</div>
<ion-content>
  <div class="pd-16">
    <h2 class="text-center">Typing App Versi 1.001</h2>
    <div class="pdt-20">
      <p class="text-justify fs-18">Aplikasi Typing APP adalah aplikasi untuk mengambil data keystroke.</p>
    </div>
  </div>
</ion-content>
