<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="flex align-center">
    <ion-button slot="start" fill="clear" (click)="handleBackButton('/tabs/tab1')">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<div class="bg-primary color-white">
  <div class="pd-16">
    <div>Petunjuk</div>
  </div>
</div>
<ion-content>
  <div class="pd-16">
    <h2 class="text-center">Petunjuk Aplikasi</h2>
    <div>
      <h4>1. Pengambilan Data</h4>
      <p class="text-justify fs-18">
        Pengguna diberikan sejumlah N kalimat yang harus diketik. 
        Kemudian pengguna dapat click tombol selanjutnya untuk lanjut ke percobaan berikut dengan kalimat baru atau menyelesaikan pengambilan data.
      </p>
    </div>
    <div>
      <h4>2. Test Keyboard</h4>
      <p class="text-justify fs-18">
        Melakukan pengujian keyboard dengan 1 kalimat percobaan.
      </p>
    </div>
    <div>
      <h4>3. Kirim Data</h4>
      <p class="text-justify fs-18">
        Data yang kalimat yang telah diketik akan tersimpan setelah pengambilan data selesai.
        Data tersebut dapat dilihat pada tab data. Data yang telah dimasukan ini dapat dikirim melalui email.
      </p>
    </div>
  </div>
</ion-content>
