<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="folder"></ion-icon>
      <ion-label>Data</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
