<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="pdr-10">
    <ion-button slot="start" fill="clear" class="transform-none" (click)="openPage('/tabs/tab1')">
      <ion-icon name="keypad" class="mgr-10"></ion-icon>
      <span class="block">Typing App</span>
    </ion-button>
  </ion-toolbar>
</ion-header>