<app-header [isShowLogin]="false"></app-header>
<div class="bg-primary color-white">
    <div class="pd-16">
        <div>Data</div>
    </div>
</div>
<ion-content>
    <div class="pd-16">
        <ion-card class="bg-white pd-16" *ngFor="let item of list" (click)="onShowData(item)">
            <div class="flex align-center justify-space-between mgb-10">
                <span>{{ item.id }}</span>
                <ion-icon name="ellipsis-vertical" (click)="setOpen(true, item.id)"></ion-icon>
            </div>
            <div>
                <span>{{ utility.formatDate(item.date, 'DD MMMM YYYY | HH:mm') }}</span>
            </div>
        </ion-card>
        <div class="color-medium h-300-px flex align-center justify-center" *ngIf="list && list.length <= 0">
            Tidak ada data
        </div>
    </div>
    <ion-action-sheet   
        [isOpen]="isActionSheetOpen"  
        [header]="'Pilih Opsi Untuk Data '+id" 
        [buttons]="actionSheetButtons" 
        (didDismiss)="onDismissActionSheet($event)"
        mode="ios"
      >
    </ion-action-sheet>
</ion-content>
