<app-header [isShowLogin]="user_name && user_nim ? false : true"></app-header>
<div class="mgb-30 bg-primary color-white">
    <div class="pd-16">
        <p>Selamat datang di aplikasi pengambilan data keystroke Typing App.</p>
        <div *ngIf="!user_name || !user_nim">Anda belum masuk</div>
        <div *ngIf="user_name && user_nim">Anda masuk sebagai {{ user_name }} | {{ user_nim }}</div>
    </div>
</div>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="flex flex-column align-center justify-center border-primary br-8  h-100-px" (click)="openPage('/instruction')">
                    <ion-icon name="book-outline" class="ic-menu color-primary"></ion-icon>
                    <div class="color-primary">Petunjuk</div>
                </div>
            </ion-col>
            <ion-col>
                <div class="flex flex-column align-center justify-center border-primary br-8  h-100-px" (click)="openPage('/input-test')">
                    <ion-icon name="checkbox-outline" class="ic-menu color-primary"></ion-icon>
                    <div class="color-primary">Test Keyboard</div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="flex flex-column align-center justify-center border-primary br-8  h-100-px" (click)="openPageWithLogin('/input-typing')">
                    <ion-icon name="reader-outline" class="ic-menu color-primary"></ion-icon>
                    <div class="color-primary">Pengambilan Data</div>
                </div>
            </ion-col>
            <ion-col>
                <div class="flex flex-column align-center justify-center border-primary br-8  h-100-px" (click)="openPage('about')">
                    <ion-icon name="information-circle-outline" class="ic-menu color-primary"></ion-icon>
                    <div class="color-primary">Tentang App</div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
