<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="flex align-center">
    <ion-button slot="start" fill="clear" (click)="handleBackButton('/tabs/tab1')">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<div class="bg-primary color-white">
  <div class="pd-16">
    <div>{{ screen == 1 ? 'Masukan NIM & Nama' : 'Pengambilan Data' }}</div>
  </div>
</div>
<ion-content *ngIf="screen == 2">
  <div class="pd-16">
    <div class="color-medium mgb-30">Percobaan {{ test }}/10</div>
    <div class="fs-18 mgb-30">
      <i>{{ sentenceList[test] }}</i>
    </div>
    <ion-input 
      #inputText
      class="h-70-px"
      [(ngModel)]="text"
      placeholder="Ketik ulang di sini..." 
      (ionInput)="onInput($event)" 
      (keyup)="onkeyup()"
    >
    </ion-input>
  </div>
  <div class="pd-16">
    <ion-button expand="block" class="capitalize" (click)="next()" [disabled]="!text ? true : false">Selanjutnya</ion-button>
  </div>
</ion-content>
<ion-content *ngIf="screen == 1">
  <div class="mgb-30"></div>
  <div class="pd-16">
    <div class="mgb-30">
      <div class="color-medium">NIM</div>
      <ion-input [(ngModel)]="user_nim"></ion-input>
    </div>
    <div>
      <div class="color-medium">Nama</div>
      <ion-input [(ngModel)]="user_name"></ion-input>
    </div>
  </div> 
  <div class="pd-16">
    <ion-button expand="block" class="capitalize" (click)="next()" [disabled]="!user_nim || !user_name ? true : false">Selanjutnya</ion-button>
  </div>
</ion-content>
