<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="flex align-center">
    <ion-button slot="start" fill="clear" (click)="handleBackButton('/tabs/tab1')">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<div class="bg-primary color-white">
  <div class="pd-16">
    <div>Test Keyboard</div>
  </div>
</div>
<ion-content>
  <div class="pd-16">
    <div class="color-medium mgb-30">Percobaan 1</div>
    <div class="fs-18 mgb-30">
      <i>Lorem Ipsum dolor sit amet.</i>
    </div>
    <ion-input class="h-70-px" placeholder="Ketik ulang di sini..." [(ngModel)]="text"></ion-input>
  </div>
  <div class="pd-16">
    <ion-button expand="block" class="capitalize" [disabled]="!text"   (click)="next()">Selanjutnya</ion-button>
  </div>
</ion-content>
