/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
ion-item.item-has-focus > ion-label{
  color: red !important;
}
.w-full{
    width: 100%;
}
.w-max-content{
    width: max-content;
}
.w-80{
    width: 80%;
}
.block{
    display: block;
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-space-between{
    justify-content: space-between;
}
.h-70-px{
    height: 70px;
}
.h-100-px{
    height: 100px;
}
.h-300-px{
    height: 300px;
}
.transform-none{
    text-transform: none;
}
.mgr-10{
    margin-right: 10px;
}
.mgr-30{
    margin-right: 30px;
}
.mgb-10{
    margin-bottom: 10px;
}
.mgb-30{
    margin-bottom: 30px;
}
.mgb-50{
    margin-bottom: 50px;
}
.pd-16{
    padding: 16px;
}
.pdt-20{
    padding-top: 20px;
}
.pdt-100{
    padding-top: 100px;
}
.pdr-10{
    padding-right: 10px;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-18{
    font-size: 18px;
}
.fs-32{
    font-size: 32px;
}
.fw-500{
    font-weight: 500;
}
.bg-primary{
    background-color: var(--ion-color-primary);
}
.bg-white{
    background-color: #fff;
}
.color-primary{
    color: var(--ion-color-primary);
}
.color-medium{
    color: var(--ion-color-medium);
}
.color-white{
    color: #fff;
}
.border-primary{
    border: 1px solid var(--ion-color-primary);
}
.br-8{
    border-radius: 8px;
}
.capitalize{
    text-transform: capitalize;
}
.disable-btn{
    opacity: 0.5;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}