<ion-content [fullscreen]="true">
  <div class="main-screen">
    <div class="fs-32 mgb-10">
      {{ id ? 'Berhasil Ambil Data' : 'Test Keyboard Berhasil' }}
    </div>
    <div *ngIf="id">{{ uitlity.formatDate(date,'DD MMM YYYY | HH:mm') }}</div>
    <ion-icon name="checkmark-circle-outline"></ion-icon>
    <div *ngIf="id" class="num-box">No. Data: {{ id }}</div>
    <div *ngIf="!id">{{ uitlity.formatDate(date,'DD MMM YYYY | HH:mm') }}</div>
  </div>
</ion-content>
<ion-footer>
  <div class="pd-16">
    <ion-button expand="full" shape="round" class="capitalize" (click)="openPage('/tabs/tab2')">Kembali</ion-button>
  </div>
</ion-footer>
