ion-content{
    --ion-background-color:#FAFAFA;
}

.main-screen{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ion-icon{
        color: var(--ion-color-primary);
        width: 200px;
        height: 200px;
        margin-bottom: 30px;
    }
}

.num-box{
    background-color: #fff;
    padding: 10px 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}